<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>...</title>
        <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>.app-loader,body,html{height:100%;width:100%}@-webkit-keyframes sk-bounce{0%,to{-webkit-transform:scale(0)}50%{-webkit-transform:scale(1)}}@keyframes sk-bounce{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}body,html{margin:0;padding:0;min-height:100%;position:relative;display:block}.spinner,.spinner-elements{margin-left:auto;margin-right:auto}div{box-sizing:border-box}.app-loader{position:absolute;top:0;left:0;align-items:center;display:table}.spinner{display:table-cell;vertical-align:middle}.spinner-elements{width:100px;height:25px}.bounce1,.bounce2,.bounce3{width:12px;height:12px;-webkit-animation:sk-bounce .9s infinite ease-out;animation:sk-bounce 1s infinite ease-out;background-color:#000;opacity:.6;color:#fff!important;float:left;border-radius:50%}.bounce2{animation-delay:-.3s}.bounce3{animation-delay:-.6s}</style>  
        <link href="https://fonts.googleapis.com/icon?family=Roboto:300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/earlyaccess/notokufiarabic.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/styles.a9dc4a5fcbccc26d3715.css">
    </head>
<body>
    <app-root>
        <div class="app-loader">
            <div class="spinner">
                <div class="spinner-elements">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </app-root>
    <script src="/js/runtime-es2015.0811dcefd377500b5b1a.js" type="module"></script>
    <script src="/js/runtime-es5.0811dcefd377500b5b1a.js" nomodule defer></script>
    <script src="/js/polyfills-es5.3fe6bd06b529a6190c46.js" nomodule defer></script>
    <script src="/js/polyfills-es2015.6cf34978dcde0750c220.js" type="module"></script>
    <script src="/js/main-es2015.69a31d5f5a3a3608f7c0.js" type="module"></script>
    <script src="/js/main-es5.69a31d5f5a3a3608f7c0.js" nomodule defer></script></body>
</html>
