agm-map {
  height: 500px;
}

.path-result {
  margin-bottom: 25px;
  padding-left: 16px;
}

.rta-map {
  margin-top: 25px;
}

.ac-action-icon {
  padding-top: 15px;
}

.result-header-label {
  padding-right: 10px;
  padding-left: 10px;
}

.seg-st-row {
  padding-left: 10px;
  margin-left: 6px;
  border-left: 12px solid #000000;
}

.action-btn {
  margin-right: 16px!important;
  width: 8rem;
}

.search-form {
  padding: 16px!important;
}

.top-space {
  padding-top: 16px;
}

.totals-item {
  margin-bottom: 8px;
}

.result-content {
  padding-left: 24px;
}
