.action-center {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 25px;

  button {
      margin: auto;
      width: 185px;
      padding: 10px;
  }
}

.user-block {
  margin-right: 16px;
  margin-bottom: 16px;
}
